.btn{
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 22px;
    background: #ccc;
    border-radius: 30px;
    text-decoration: none;
    color: $-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    border: 0;
    cursor: pointer;
    &:active{
        opacity: .9;
    }
    &:disabled{
        opacity: .4;
        pointer-events: none;
    }
    .inner{
        display: flex;
        align-items: center;
        .text{
            &:not(:last-child){
                margin-right: 20px;
            }
        }
        i{
            font-size: 16px;
        }
        
    }
    &-primary{
        background: rgba($-primary, .8);
        &:hover{
            background: rgba($-primary, 1);
        }
        
    }
    &-secondary{
        background: rgba($-white, 1);
        color: rgba($-primary, 1);
        &:hover{
            background: rgba($-primary, 1);
            color: rgba($-white, 1);
        }
    }
    &-hollow{
        background: transparent;
        color: $-primary;
        &:hover{
            background: rgba($-primary, .05);
        }
    }
    &-text{
        background: transparent;
        color: $-primary;
        .inner{
            border-bottom: 1px solid transparent;
        }
        &:hover{
            .inner{
                border-color: rgba($-primary, 1);
            }
        }
    }
    &-large{
        width: 100%;
        max-width: 300px;
        padding: 17px 30px;
    }
    &-medium{
        padding: 10px 20px;
        font-size: 14px;
    }
}

.checkout-button{
    background: rgba($-primary, .8);
}