.btn{
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 22px;
    background: #ccc;
    border-radius: 30px;
    text-decoration: none;
    color: $-white;
    display: flex;
    align-items: center;
    width: fit-content;
    &-primary{
        background: rgba($-primary, .8);
        &:hover{
            background: rgba($-primary, 1);
        }
        
    }
    &-secondary{
        background: rgba($-white, 1);
        color: rgba($-primary, 1);
        &:hover{
            background: rgba($-primary, 1);
            color: rgba($-white, 1);
        }
    }
}