.btn{
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 22px;
    background: #ccc;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    color: $-white;
    &-primary{
        background: rgba($-primary, .8);
        &:hover{
            background: rgba($-primary, 1);
        }
    }
}