.drawer{
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 36;
    opacity: 0;
    pointer-events: none;
    .drawer-block{
        position: fixed;
        top: 0;
        right:0px;
        width: 320px;
        height: 100%;
        background: $-white;
        z-index: 37;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(360px);
        transition: all .5s ease-in-out;
        display: flex;
        flex-direction: column;

        .drawer-header{
            display: flex;
            padding:8px 15px;
            align-items: center;
            .title{
                margin: 0;
                font-size: 16px;
            }
            .btn-close{
                font-size: 14px;
            }
        }
        .drawer-inner{
            padding:0 20px 20px;
            height: 100%;
            overflow: auto;
            font-size: 14px;
        }
        .drawer-button-block{
            padding: 20px;
            .btn{
                margin-left: auto;
            }
        }
    }
    &.active{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        .drawer-block{
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}
.filter-drawer{
    .drawer-button-block{
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .btn{
            margin: auto;
            & + .btn{
                margin-top: 10px;
            }
        }
    }
    .woocommerce-ordering{
        padding:15px 0;
        .orderby{
            border-width: 2px;
            border-radius: 50px;
        }
    }
    .collapse-panel, .collapse-title{
        border: none !important;
    }
}
// @include mq($from: tablet) {
//     .drawer .drawer-block .drawer-header{
//         padding: 15px;
//     }
// }