
.form-control{
    background: $-white;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid transparent;
    display: block;
    padding: 4px 12px;
    min-height: 48px;
    position: relative;
    z-index: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:focus{
        border-color: $-primary;
    }
    &.borderd{
      border: 1px solid rgba($-primary, .6);
    }
    &-mini{
      min-height: 40px;
    }
    
}
.form-group{
  margin-bottom: 30px;
}
.woocommerce form label{
  margin-bottom: 10px;
  display: inline-block;
}
.woocommerce-form-login  .form-control, .register .form-control{
  background: #ffffff;

}
.show-password-input{
 z-index: 2; 
}
// .woocommerce form.login{
//   border: none !important;
//   padding: 0 !important;
// }


.quantityBtn {
    display: flex ;
    border-radius:8px;
    overflow: hidden;
    box-shadow:none;
    width: fit-content;
    margin:0 auto 20px;
    border: 1px solid rgba($-primary, .6);
  }
  
  .quantityBtn button {
    // background-color: rgba($-primary, .8);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 48px;
    text-align: center;
    transition: background-color 0.2s;
    background: $-white;
    color: rgba($-primary, 1);
  }
  
  .quantityBtn button:hover {
    background-color: rgba($-primary, .05);
  }
  
  .input-box {
    width: 50px !important;
    text-align: center !important;
    border: none !important;
    padding: 8px 10px !important;
    font-size: 16px !important;
    outline: none !important;
    margin: 0 0px !important;
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    
  }
  
  /* Hide the number input spin buttons */
  .input-box::-webkit-inner-spin-button,
  .input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input-box[type="number"] {
    -moz-appearance: textfield;
  }
  