// .entry-content{
//     max-width: 600px;
//     margin: auto;
//     background: #ffff;
//     border-radius: 15px;
//     padding: 20px 50px;
// }
// .lost_reset_password{
//     max-width: 600px;
//     background: #ffff;
//     margin: auto;
//     padding: 20px 50px;
//   }
.logged-in{
    .entry-content{
        max-width: 100%;
        background: none;
    } 
}

.reg-link, .login-link{
    text-align: center;
    color: rgba($-primary, .6);
}
.form-wrapper{
    display: flex;
    .woocommerce-form-login__rememberme{
        margin-right: auto;
    }
}
.log-in-box, .password-wrapper{
    max-width: 500px;
    margin: auto;
    &.inactive{
        display: none;
    }
}
.register-block{
    display: none;
    max-width: 500px;
    margin: auto;
    .register{
        background: $-white;
        border: none !important;
        border-radius: 15px !important;
    }
    input{
        background: #f5f5f5 !important;
    }
    &.active{
        display: block;
    }
}
.login, .ResetPassword{
    background: $-white;
    border: none !important;
    border-radius: 15px !important;
    padding: 20px;
    input{
        background: #f5f5f5 !important;
    }
}
.woocommerce-privacy-policy-text{
    font-size: 12px;
}