@import "global";

// html{
//     height: 100%;
// }
body{
   position: relative;
   height: 100%;
   font-family: "Open Sans", sans-serif;
   overflow-x: hidden !important;
   font-size: 14px;
   &.search-active{
    overflow: hidden;
   }
   &::before{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($-primary, .8);
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    z-index: 35;
    transition: all .3s ease-in-out;
   }
   &.overlay-active{
    overflow: hidden;
    &::before{
        opacity: 1;
        visibility: visible;
    }
   
   }
    .wrapper{
        display: flex;
        height: 100%;
        justify-content: flex-end;
    }
    
}
.container-fluid{
    padding: 0 15px;
    @include mq($from: tablet) {
        padding: 0 30px;
    }
}
.container{
    max-width: 1160px;
    padding: 0 15px;
    margin: auto;
}
.top-bar{
    background: $-primary;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 20px;
    position: relative;
    top: 0;
    z-index: 29;
    width: 100%;

    @include mq($from: tablet) {
        z-index: 31;
    }
    .btn-close{
        position: absolute;
        right: 10px;
        top: 6px;
        width: 20px;
        height: 20px;
        color: rgba($-white, .6);
        cursor: pointer;
    }
    .text{
        margin: 0;
        color: rgba($-white, .6);
        .offer{
            color: $-white;
        }
    }
}
.main{
    width: calc(100% - 0px);
    transition: all 0.6s ease-in-out;
    @include mq($from: tablet) {
        width: calc(100% - 70px);
    }
    // &.small{
    //     width: calc(100% - 320px); 
    // }
}

.spacer{
    height: 60px;
    @include mq($from: tablet) {
        height: 100px;
    }
}




// Category page

.category-wrapper{
    .product-card {
        display: none;
    }
    .prod-list{
        margin: 0 -8px;
    }
    .load-more-block{
        margin-top: 60px;
        .button-block{
            
            text-align: center;
            #productCounter{
                margin-left: 5px;
                display: inline-block;
            }
            .btn{
                margin: auto;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
    }
    .filter-block{
        margin-bottom: 30px;
    }
}
.page-title-wrapper{
    margin: 0px 0 40px;
    .main-cat{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 5px;
        .go-back{
            display: flex;
            align-items: center;
            justify-content: center;
            
            margin-right: 10px;
        }
        .main-cat-title{
            font-size: 16px;
            text-transform: uppercase;
            margin: 0px;
        }
        
    }
    .page-title{
        font-size: 20px;
        text-transform: uppercase;
        margin: 0;
        display: flex;
        align-items: flex-start;
        .items-quantity{
            font-size: 12px;
            font-weight: 300;
            margin-left: 8px;
            margin-top: 2px;
        }
    }
    .welcome-text{
        text-transform: uppercase;
    }
    @include mq($from: tablet) {
            margin: 0px 0 60px;
            .page-title{
                font-size: 26px;
                .items-quantity{
                    font-size: 16px;
                    margin-top: 4px;
                }
            }
    }
}


