@import "global";

html{
    height: 100%;
}
body{
   position: relative;
   height: 100%;
   font-family: "Open Sans", sans-serif;
//    &.top-bar-active{
//     padding-top:30px ;
//    }
    .wrapper{
        display: flex;
        height: 100%;
        justify-content: flex-end;
    }
    
}
.container-fluid{
    padding: 0 15px;
    @include mq($from: tablet) {
        padding: 0 30px;
    }
}
.top-bar{
    background: $-primary;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 20px;
    // position: fixed;
    // top: 0;
    z-index: 29;
    width: 100%;

    @include mq($from: tablet) {
        z-index: 31;
    }
    .btn-close{
        position: absolute;
        right: 10px;
        top: 6px;
        width: 20px;
        height: 20px;
        color: rgba($-white, .6);
    }
    .text{
        margin: 0;
        color: rgba($-white, .6);
        .offer{
            color: $-white;
        }
    }
}
.main{
    width: calc(100% - 0px);
    transition: all 0.6s ease-in-out;
    @include mq($from: tablet) {
        width: calc(100% - 70px);
    }
    // &.small{
    //     width: calc(100% - 320px); 
    // }
}