*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
*:focus { 
    outline: 0 !important;
    box-shadow:none;
  }
body{
    margin: 0;
    color: $-primary;
}

input, textarea, button, select, a{
    -webkit-tap-highlight-color: transparent;
}
a{
    color: $-primary;
}
a:focus, a:visited, a:active{
    outline: none;
}