*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
*:focus { 
    outline: 0 !important;
    box-shadow:none;
  }
body{
    margin: 0;
    color: $-primary;
}

input, textarea, button, select, a{
    -webkit-tap-highlight-color: transparent;
}
a{
    color: $-primary;
}
a:focus, a:visited, a:active{
    outline: none;
}

.orderby {
-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select-arrow.svg) 95% / 18px no-repeat transparent;
  }

// ol { counter-reset: item }
// li{ display: block }
// li:before { content: counters(item, ".") " "; counter-increment: item }