.mb-20{
    margin-bottom: 20px;
}

.btn-close{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}