
.product-wrapper{
    margin-bottom: 60px;
    overflow: hidden;
    .container-fluid{
        display: flex;
        flex-direction: column;
    }
    .page-title-wrapper{
        order: -1;
        margin: 0;
        .prod-label{
            font-size: 14px;
            color: rgba($-primary, .6);
        }
        .prod-title{
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
        }
        .price-block{
            .price{
                font-size: 14px;
                font-weight: 600;
            }
            .old-price{
                font-size: 12px;
                text-decoration: line-through;
                color: rgba($-primary, .6);
            }
        }
    }
    .swiper-slider-wrapper{
        margin-bottom: 30px;
        .swiper-button-block{
            display: flex;
            justify-content: space-between;
            
        }
        .swiper-slider__arrows{
            display: flex;
            justify-content: flex-end;
            .swiper__arrow {
                background: $-primary;
                border-radius: 30px;
                color: $-white;
                width: 30px;
                height: 30px;
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                &.arrow-left{
                    margin-right: 6px;
                }
            }
        }
        .swiper__counter{
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 20px;
            background: $-primary;
            color: $-white;
            display: inline-block;
            width: 60px;
            text-align: center;
            letter-spacing: 4px;
        }
    }
    .swiper-slider{
        display: block;
        .prod-list-item{
            .inner-box{
                padding: 0;
                background: transparent;
                .img-box{
                    background: #f5f5f5;
                    img{
                        max-width: 100%;
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }
    .collapse-wrapper{
        margin-top: 30px;
    }
    .list-icon-style{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding: 10px 0;
            margin: 0 !important;
            display: flex;
            align-items: center;
            &:not(:last-child){
                border-bottom: 1px solid rgba($-primary, .2);
            }
            .icon-block{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: none;
                font-size: 26px;
                color: rgba($-primary, .6);
            }
            .content{
                padding-left:20px ;
                .link{
                    display: inline-block;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .title{
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: 3px;
            }
        }
    }
}
.prod-card-slider{
    .section-title {
        text-align: left;
    }
    .prod-list.prod-slider{
        margin:0 -15px;
        .prod-list-item{
            padding: 0 0 0 15px;
        }
    }
}
.wrapper{
    overflow: hidden;
}

@include mq($from: tablet) {
    .product-wrapper{
        .container-fluid{
            display: grid;
            grid-template-columns: 50% auto;
            .swiper-slider-wrapper{
                grid-area: 1 / 1 / 3 ;
            }
            .page-title-wrapper{
                order:inherit;
                grid-area: 1 / 2 / 2 ;
                margin-bottom: 30px;
                .prod-title{
                    font-size: 20px;
                    margin: 5px 0;
                }
                
            }
           
            .content-blcok{
                grid-area: 2 / 2 / 4 ;
            }
        }
    }
    .product-wrapper .swiper-slider .prod-list-item .inner-box .img-box img{
        max-width: 450px;
    }
    .product-wrapper .page-title-wrapper .price-block .price{
        font-size: 16px;
    }
    .product-wrapper .swiper-slider-wrapper .swiper-button-block{
        padding-right: 30px;
    }
}

@include mq($from: desktop) {
    .product-wrapper{
        .container-fluid{
            grid-template-columns: 65% auto;
        }
    }
}