.attributes-block{
    .card-header{
        margin-bottom: 20px;
    }
    .attributes-card{
        margin-bottom: 15px;
        background: #F9F9F9;
        padding: 20px;
        border-radius: 15px;
        font-size: 14px;
    }
    #wc-stripe-payment-request-wrapper{
        max-width: 300px;
        border-radius: 30px;
        overflow: hidden;
        margin: 1em auto 0;
    }
}