.cart-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    .empty{
        width: 100%;
        text-align: center;
        align-self: center;
        justify-self: center;
        .title{
            font-size: 20px;
            font-weight: 600;
            
        }
        .btn{
            margin: auto;
        }
    }
    .cart-list{
        width: 100%;
        margin-bottom: 15px;
        .list{
            padding: 15px;
            background: #f9f9f9;
            display: flex;
            align-items: center;
            border-radius: 15px;
            margin-bottom: 15px;
            .icon-block{
                flex: none;
                width: 60px;
                margin-right: 15px;
                img{
                    width: 100%;
                }
            }
            .content{
                .title{
                    font-size: 13px;
                    margin: 0 0 3px;
                }
                .info{
                    font-size: 11px;
                    margin-bottom: 3px;
                    line-height: 18px;
                }
                .price{
                    font-size: 13px;
                    letter-spacing: 1px;
                    font-weight: 700;
                }
            }
        }
    }
    .total-estimate{
        display: flex;
        justify-content: space-between;
        .estimate-title{
            font-size: 14px;
        }
        .estimate-price{
            font-size: 20px;
            font-weight: 700;
        }
    }
}
