.prod-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
    .prod-list-item{
        padding:7px;
        .inner-box{
            background: #fff;
            padding: 30px 0 0  ;
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            height: 100%;
            .img-box{
                display: inline-block;
                width: 100%;
               
                img{
                    transition: all 0.3s ease-in-out;
                    display: block;
                    margin: auto;
                    max-width: 240px;
                    width: 100%;
                    mix-blend-mode: multiply;
                }
            }
            .offer-text{
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 12px;
            }
            .content{
                padding:10px 15px;
                .title{
                    font-size: 14px;
                    font-weight: 400;
                    margin:0 0 15px;
                    a{
                        text-decoration: none;
                        color: $-primary;
                    }
                }
                .button-block{
                    display: flex;
                    justify-content: space-between;
                    .btn{
                        padding: 7px 15px;
                    }
                }
                .price-block{
                    text-align: right;
                    .price{
                        font-size: 16px;
                        font-weight: 700;
                    }
                    .old-price{
                        font-size: 10px;
                        text-decoration: line-through;
                        opacity: .6;
                    }
                }
            }
        }
       
        // &:hover{
        //     .inner-box{
        //         .img-box{
        //             img{
        //                 transform: scale(1.1);
        //             }
        //         }
        //     }
        // }
    }
    &.prod-slider{
        display: block !important;
        .prod-list-item{
            padding: 0 0 0 20px;
            
        }
    }
}


@include mq($from: tablet) {
    .prod-list{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .prod-list .prod-list-item .inner-box .content{
        padding: 20px; 
    }
    .prod-list .prod-list-item .inner-box .offer-text{
        top: 20px;
        left: 20px;
    }
    .prod-list .prod-list-item .inner-box .content .button-block{
        .btn{
            padding: 8px 22px
        }
    }
   
}
@include mq($from: desktop) {
    .prod-list{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@include mq($until: mobileLarge) {
    .prod-list:not(.prod-slider) .prod-list-item .inner-box .content .title{
        text-align: center;
        margin-bottom: 5px;
    }
    .prod-list:not(.prod-slider) .prod-list-item .inner-box .content .button-block{
        flex-direction: column-reverse;
        align-items: center;
        .btn{
            width: 100%;
        }
    }
    .prod-list:not(.prod-slider) .prod-list-item .inner-box .content .price-block{
        text-align: center;
        display: flex;
        margin-bottom: 10px;
        align-items: baseline;
        .price{
            margin-right: 5px;
        }
    }
}


@include mq($from: tablet) {
    .prod-slider{
        padding-left: 20px;
        .prod-slider-item{
            padding-left:20px;
        }
        .slick-list{
            overflow: visible;
        }
        
    }
}